/* Estilos de la barra de navegación */
.navbar {
    background-color: rgb(52, 102, 154); 
    font-family: 'Lato', sans-serif;  
    padding:0px 40px;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.navbar-logo {
    height: 40px;
    width: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.navbar .btn-outline-success {
    margin-right: 20px !important;
}

.navbar .collapse {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.navbar .navbar-nav {
display: flex;
justify-content: center;
flex-grow: 1;
}

.navbar .nav-item {
    margin: 0 45px; 
}

.navbar .nav-link {
    color: #f0f0f0;                      
    font-weight: bold;                   
    transition: color 0.3s ease;         
}

.navbar .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;  
}

.navbar .btn-outline-success {
    color: #f0f0f0;                      
    font-weight: bold;
    border-color: #f0f0f0; 
    margin-right: 40px;              
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn i {
    margin-right: 8px;
}

.navbar .btn-outline-success:hover {
    background-color: #f0f0f0;
    color:  rgb(52, 102, 154);                             
}

/* Ventana modal*/
.modal .btn-custom-red {
    background-color: rgb(232, 68, 54);
    border-color: rgb(232, 68, 54);
    color: white;
}

.modal .btn-custom-red:hover {
    background-color: rgb(191, 53, 46);
    border-color: rgb(191, 53, 46);
}

.modal .custom-link {
    color: rgb(232, 68, 54);
    text-decoration: none;
}

.modal .custom-link:hover {
    text-decoration: underline;
}

.modal .modal-content {
    padding: 0.5em;
}

/* Offcanvas*/
.offcanvas {
    z-index: 1060 !important;    
}

.offcanvas-body {
  padding-top: 0em;
}


/* Estilos carrusel */

#heroCarousel {
    margin-bottom: 100px;
}

#heroCarousel .carousel-item img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
    object-position: 50% 30%;
}

.carousel-caption {
    top: 10%;
    left: 6.5%; 
    transform: none;               
    text-align: left;              
    position: absolute;            
}

.carousel-caption h5 {
    font-size: 2rem;
    font-family: 'Lato', sans-serif; 
    color: rgb(52, 102, 154);
    margin: 0;                     
}

.carousel-caption p {
    font-size: 1.2rem;  
    font-family: 'Lato', sans-serif;            
    color: rgb(52, 102, 154);                
    margin: 5px 0 15px 0;           
}

.carousel-caption .btn {
    background-color: rgb(232, 68, 54);   
    border: none;                  
    color: #ffffff;  
    font-family: 'Lato', sans-serif;               
    font-weight: bold;             
    padding: 10px 20px;  
    transition: background-color 0.3s ease;          
}

.carousel-caption .btn:hover {
    background-color: #f0f0f0;
    color:rgb(232, 68, 54);
}

.carousel-control-prev, .carousel-control-next {
    top: 70%;
}

/* Barra de busqueda */

   .search-bar {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
    
    }
    
    .search-bar .form-label {
    font-weight: bold;
    color: rgb(232, 68, 54);
    font-family: 'Lato', sans-serif;   
    }
    
    #passengersPopover {
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
        font-family: 'Lato', sans-serif;
        border-color: rgb(200, 200, 200);
        color: black;  
    }

    #passengersPopover:hover {
        border-color: rgb(200, 200, 200);
        color: black; 
        background-color: #fff;
    }
    
    .popover {
        min-width: 25%;
    }
    
    .popover div {
        min-width: 25%;
        font-family: 'Lato', sans-serif; 
    }
    
    #buscarVuelosBtn{
        margin-top: 30px;
        background-color: rgb(232, 68, 54);                  
        color: #ffffff;  
        font-family: 'Lato', sans-serif; 
        border-color: rgb(232, 68, 54);  
    }

    #buscarVuelosBtn:hover {
        background-color: rgb(191, 53, 46); 
        border-color: rgb(191, 53, 46);  
    }

    .form-control {
        font-family: 'Lato', sans-serif; 
        border-color: rgb(200, 200, 200);   
    }

    ::placeholder {
        color: black !important;
    }

/* Estilos footer */

.footer {
    background-color: rgb(52, 102, 154); 
    padding: 40px 0 5px; 
    text-align: center;
}

.footer h5 {
    margin-bottom: 15px;
    font-weight: bold;
    color: #f0f0f0;
    text-align: left;
    font-size: 1rem;
}

.footer .social {
    margin-bottom: 35px;
    text-align: left;
}

.footer .social a {
    margin: 0 10px 0 0; 
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1rem; 
    transition: color 0.3s ease;
}

.footer .social a:hover {
    color: rgb(232, 68, 54); 
}

.footer .links ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.footer .links li {
    margin: 5px 0;
}

.footer .links a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 0.9rem; 
}

.footer .links a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer .contacto {
    margin-bottom: 20px;
    color: #f0f0f0; 
    text-align: left;
    font-size: 0.9rem; 
}

.footer .contacto ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    text-align: left;
}

.footer .contacto li {
    margin: 10px 0;
}

.footer .contacto a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 0.9rem; 
}

.footer .contacto a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer .contacto p {
    margin: 5px 0;
}

.footer .contacto p:hover {
    color: rgb(232, 68, 54); 
}

.footer .logo {
    margin-top: -16px;
    text-align: left;
}

.navbar-logo2 {
    height: 20px;
    text-align: left;
    margin-top: 20px;
}

.footer .copy {
    margin-top: 50px;
    font-size: 0.8rem;
    color: #f0f0f0;
}

.footer div {
    margin-bottom: 20px;
}

/* Modal 2º pagina */

#loadingModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(52, 102, 154);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner-grow {
    width: 1.5rem;
    height: 1.5rem;
}

@keyframes moveravion {
    0% {
        transform: translateX(-50vw) rotate(90deg);
    }
    100% {
        transform: translateX(50vw) rotate(90deg);
    }
}

@keyframes movernube1 {
    0% {
        transform: translateX(40vw);
    }
    100% {
        transform: translateX(-20vw);
    }
}

@keyframes movernube2 {
    0% {
        transform: translateX(10vw);
    }
    100% {
        transform: translateX(-50vw);
    }
}

.bi-airplane-fill {
    font-size: 5rem;
    color: white;
    transform: rotate(90deg);
    display: inline-block;
    animation: moveravion 5s linear infinite;
}

.bi-cloud.nube1 {
    font-size: 5rem;
    color: white;
    display: inline-block;
    animation: movernube1 5s linear infinite;
    margin-top: 100px;
}

.bi-cloud.nube2 {
    font-size: 5rem;
    color: white;
    display: inline-block;
    animation: movernube2 5s linear infinite;
    margin-bottom: 200px;
}