/* Estilos de la barra de navegación */
.navbar {
    background-color: rgb(52, 102, 154); 
    font-family: 'Lato', sans-serif;  
    padding:0px 40px;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.navbar-logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.navbar .btn-outline-success {
    margin-left: auto;
}

.navbar .collapse {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.navbar .navbar-nav {
display: flex;
justify-content: center;
flex-grow: 1;
}

.navbar .nav-item {
    margin: 0 45px; 
}

.navbar .nav-link {
    color: #f0f0f0;                      
    font-weight: bold;                   
    transition: color 0.3s ease;         
}

.navbar .nav-link:hover {
    color: rgba(240, 240, 240, 0.8);    
}

.navbar .btn-outline-success {
    color: #f0f0f0;                      
    font-weight: bold;
    border-color: #f0f0f0; 
    margin-right: 40px;              
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .btn-outline-success:hover {
    background-color: #f0f0f0;
    color:  rgb(52, 102, 154);                             
}

/* Ventana modal*/
.modal .btn-custom-red {
    background-color: rgb(232, 68, 54);
    border-color: rgb(232, 68, 54);
    color: white;
}

.modal .btn-custom-red:hover {
    background-color: rgb(191, 53, 46);
    border-color: rgb(191, 53, 46);
}

.modal .custom-link {
    color: rgb(232, 68, 54);
    text-decoration: none;
}

.modal .custom-link:hover {
    text-decoration: underline;
}

.modal .modal-content {
    padding: 0.5em;
}

/* Offcanvas*/
.offcanvas {
    z-index: 1060 !important;    
}

.offcanvas-body {
  padding-top: 0em;
}


/* Estilos carrusel */
#heroCarousel .carousel-item img {
    width: 100%;
    height: 700px; 
    object-fit: cover; 
    object-position: 50% 20%;
}